@page
@model MessageDrop.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    if (HttpMethods.IsPost(Request.Method))
    {
        String messageString = Request.Form["inputText"];
        Model.SetMessage(messageString);
    }
}


<html>
<head>
    <title>MessageDrop!</title>
</head>

<body>
    <header>
        <h1>MessageDrop!!</h1>
        <h2>Drop those hot messages!</h2>
    </header>
    <main>
        <form method="post">
            <fieldset>
                <legend>Message to DROP</legend>
                <textarea id="input-text" rows="10" cols="5" name="inputText"
                          placeholder="Enter your message to DROP here"></textarea>
            </fieldset>
            <button id="encrypt-it" style="text-align: center">DROP IT!</button>
        </form>
        <fieldset>
            <legend>DROPPED messages:</legend>
            <div id="result-area">
                @foreach (var message in Model.Messages)
                {
                    <p>@message.MessageString</p>

                }
            </div>
        </fieldset>
    </main>
</body>
</html>
