@page
@model MessageDrop.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>
<head>
    <title>MessageDrop!</title>
</head>

<body>
    <header>
        <h1>MessageDrop!!</h1>
        <h2>Drop those hot messages!</h2>
    </header>
    <main>

        <fieldset>
            <legend>Message to DROP</legend>
            <textarea id="input-text" rows="10" cols="10"
                      placeholder="Enter your message to drop here"></textarea>
        </fieldset>
        <div>
            <button id="encrypt-it" style="text-align: center">DROP IT!</button>
        </div>
        <fieldset>
            <legend>DROPPED messages:</legend>
            <div id="result-area">
                @foreach (var message in Model.Messages)
                {
                    <p>@message.MessageString</p>

                }
            </div>
        </fieldset>
    </main>
</body>
</html>
